.about{
    padding-top: 4vh;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgb(255,129,136);
    background: linear-gradient(133deg, rgba(255,129,136,0.3) 0%, rgba(255,189,82,0.3) 50%, rgba(255,140,25,0.3) 100%);
    height: 90vh;
}

.about h4{
    padding-top: 5vh;
}

.textContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2vh;
    padding-top: 5vh;
}

.textContainer span{
    padding-top: 3vh;
}
