.chat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 80px;
    border-bottom: 1px solid gray;
}

.chat__details{
    flex: 1;
}

.chat__image > p{
    margin-right: 20px;
}

.chat__details{
    color: gray;
}

.chat__timestamp{
    color:lightgrey;
}