.chat{
  height: calc(100vh - 80px);
  display: flex;
}

.chatMenu{
  flex: 3.5;
}

.chatMenuInput{
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid grey;
}

.chatBox{
  flex: 5.5;
}

.chatBoxBottom{
  margin-top: 5px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput{
  width: 80%;
  height: 90px;
  padding: 10px;
}

.chatOnline{
  flex: 3;
}

.chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper{
  padding: 10px;
  height: 100%;
}

