.inventory {
  font-family: inherit;
  height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(255, 129, 136);
  background: linear-gradient(
    133deg,
    rgba(255, 129, 136, 0.2) 0%,
    rgba(255, 189, 82, 0.2) 50%,
    rgba(255, 140, 25, 0.2) 100%
  );
}

.inventoryDiv {
  padding-top: 10vh;
  padding: 4%;
}

.inventoryDesc {
  font-weight: bold;
}

.inventory button {
  margin-top: 3vh;
  font: inherit;
  cursor: pointer;
  color: white;
  padding: 0.35rem 1.4rem;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  background: linear-gradient(
    to bottom right,
    rgba(255, 140, 25, 0.8) 0%,
    rgba(255, 189, 82, 0.8) 28%,
    rgba(255, 129, 136, 0.8) 100%
  );
}

.inventory button:hover,
.inventory button:active {
  background: linear-gradient(
    to bottom right,
    rgba(255, 140, 25, 1) 0%,
    rgba(255, 189, 82, 1) 28%,
    rgba(255, 129, 136, 1) 100%
  );
  border-color: #a50e48;
}

.link {
  text-decoration: none;
  color: white;
}
