.profile{
    font-family: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgb(255,129,136);
    background: linear-gradient(133deg, rgba(255,129,136,0.2) 0%, rgba(255,189,82,0.2) 50%, rgba(255,140,25,0.2) 100%);
    justify-content: space-evenly;
}

.profileHeader{
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.profileHeader .infoRow{
    padding-left: 0;
    font-size: 16px;
    display: flex;
    flex-direction: row;
}
.profileHeader .infoData{
    font: inherit;
    padding-left: 7px;
}

.profile img{
    height: 160px;
    width: 160px;
    border-radius: 300px;
}

.spacer{
    width: 100%;
    height: 4vh;
    padding-top: 1vh;
    margin: 0.5vh 0;
    background: rgb(255,140,25);
    background: linear-gradient(133deg, rgba(255,140,25,0.4) 0%, rgba(255,189,82,0.4) 28%, rgba(255,129,136,0.4) 100%);
}
.profile .spacer h3{
    margin: 0;
    padding-left: 2vh;
}

.infoRow{
    padding-left: 2vh;
    padding-right: 1vh;
    padding-bottom: 0.3vh;
    font-size: 16px;
    display: flex;
    flex-direction: row;
}

.infoDesc{
    font-style:oblique;
    font-weight:bold;
}

.infoData{
    font: inherit;
    padding-left: 5px;
}

.username{
    font-style:oblique;
    font-weight:bold;
    font-size: 17px;
    padding-bottom: 1vh;
    padding-left: 2vh;
}

.bio{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.library{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
}

.rating{
    display: flex;
    flex-direction: column;
}

.rating span{
    padding: 0.3vh 0;
}

.rate{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.rate button{
    width: 15vw;
    text-decoration: none;
    font-size: 15px;
    background: rgb(255,140,25);
    background: linear-gradient(133deg, rgba(255,140,25,0.4) 0%, rgba(255,189,82,0.4) 28%, rgba(255,129,136,0.4) 100%);
    border-radius: 8px;
}