.chatOnlineFriend{
    display:flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
} 

.chatOnlineBadge{
    position:absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: limegreen;
    position:absolute;
    top:0;
    right: 0;
}