.mainLayout{
  font-family: inherit;
  margin: 0;
}

.main{
  margin: 0 0;
  background-color: whitesmoke;
  padding-top: 6vh;
  height: 94vh;
  border-left: 1px solid rgba(128, 128, 128, 0.384);
  border-right: 1px solid rgba(128, 128, 128, 0.384);
}

::-webkit-scrollbar {
  width: 0vw;
  height: 0vh;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media only screen and (min-width: 300px) and (max-width: 725) {
  .main{
    margin: 0 10px;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgba(128, 128, 128, 0.384);
    border-right: 1px solid rgba(128, 128, 128, 0.384);
  }
  }
@media only screen and (min-width: 725px) and (max-width: 970px) {
  .main{
    margin: 0 230px;
    background-color: white;
    border-left: 1px solid rgba(128, 128, 128, 0.384);
    border-right: 1px solid rgba(128, 128, 128, 0.384);
  }
  }
@media only screen and (min-width: 970px) and (max-width: 1400px) {
  .main{
    margin: 0 350px;
    background-color: white;
    border-left: 1px solid rgba(128, 128, 128, 0.384);
    border-right: 1px solid rgba(128, 128, 128, 0.384);
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1500px) {
  .main{
    margin: 0 400px;
    background-color: white;
    border-left: 1px solid rgba(128, 128, 128, 0.384);
    border-right: 1px solid rgba(128, 128, 128, 0.384);
  }
}
  @media only screen and (min-width: 1500px) and (max-width: 1700px) {
  .main{
    margin: 0 520px;
    background-color: white;
    border-left: 1px solid rgba(128, 128, 128, 0.384);
    border-right: 1px solid rgba(128, 128, 128, 0.384);
  }
}
@media only screen and (min-width: 1700px) {
  .main{
    margin: 0 650px;
    background-color: white;
    border-left: 1px solid rgba(128, 128, 128, 0.384);
    border-right: 1px solid rgba(128, 128, 128, 0.384);
  }
  }