.header {
    font-family: inherit;
    position: fixed;
    width: 100%;
    display: flex;
    top: 0;
    height: 6vh;
    justify-content: center;
    align-items: center;
    background: rgb(255,140,25);
    background: linear-gradient(133deg, rgba(255,140,25,1) 0%, rgba(255,189,82,1) 28%, rgba(255,129,136,1) 100%);
    z-index: 10;
  }

.toggle{
  max-height: 5vh;
  cursor: pointer;
}
.toggle:hover{
  color: white;
}

  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
  }
  
  .header li {
    padding: 0 70px;
    text-decoration: none;
    font-weight: bolder;
    color: #ffdfdf;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffdfdf;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }
  
  .logo {
    color: whitesmoke;
    font-family: 'Bebas Neue', cursive;
  }
  
  .logo a {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    white-space: nowrap;
  }
  